.dropArea {
    text-align center
    border-radius 5px
    border 3px dashed $stripeBorderColor
    margin 20px
    color $stripeBorderColor
    padding 50px
    font-size 2em
    cursor pointer
}

.fileList {
    padding 10px
    border-bottom 1px solid $stripeBorderColor
    >span {
        padding 10px 20px
        display inline-block
    }
}