<div class="horizontal-stripe--paddingless light-background seperator">
    <div class="container--normal">

        <div class="clearfix" ng-if="!userProfile.disableEditing">
            <div class="switch-group pull-right">
                <p class="small" ng-if="!userProfile.inEditMode">Edit profile</p>
                <p class="small" ng-if="userProfile.inEditMode">Stop editing</p>
                <input id="speciesLookupDiscardInCsv" type="checkbox" ng-model="userProfile.inEditMode"
                       aria-label="Edit" ng-change="userProfile.editModeChanged()"/>
                <label for="speciesLookupDiscardInCsv" class="switch"></label>
            </div>
        </div>

        <div class="card card--spaced">
            <div class="card__stripe card__content">
                <div>
                    <form class="gb-form" name="userProfile.profileForm" ng-submit="userProfile.updateProfile()">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span>First name</span>
                                            <input type="text" name="firstName" ng-model="userProfile.profile.firstName"
                                                   ng-disabled="!userProfile.inEditMode">
                                        </label>
                                        <!--<div ng-messages="vm.createUserForm.firstName.$error" class="text-error small" role="alert" ng-show="vm.formInvalid">-->
                                        <!--<div ng-message="required">Username required</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span>Last name</span>
                                            <input type="text" name="lastName" ng-model="userProfile.profile.lastName"
                                                   ng-disabled="!userProfile.inEditMode">
                                        </label>
                                        <!--<div ng-messages="vm.createUserForm.username.$error" class="text-error small" role="alert" ng-show="vm.formInvalid">-->
                                        <!--<div ng-message="required">Username required</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span>Email</span>
                                            <input type="text" ng-pattern="userProfile.emailPattern" name="email"
                                                   required ng-model="userProfile.profile.email"
                                                   ng-disabled="!userProfile.inEditMode">
                                        </label>
                                        <div ng-messages="userProfile.profileForm.email.$error" class="text-error small"
                                             role="alert" ng-show="userProfile.profileFormInvalid">
                                            <div ng-message="required">Email required</div>
                                            <div ng-message="pattern">Please enter a valid email</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span>Country</span>
                                            <input type="text"
                                                   required
                                                   name="country"
                                                   ng-class="{isInvalid: userProfile.invalidCountry}"
                                                   autocomplete="off"
                                                   ng-model="userProfile.profile.settings.country"
                                                   typeahead-input-formatter="userProfile.formatTypehead(userProfile.searchSuggestions, userProfile.profile.settings.country)"
                                                   uib-typeahead="suggestion.key as suggestion.title for suggestion in userProfile.searchSuggestions | filter:$viewValue | limitTo:8"
                                                   typeahead-on-select="userProfile.typeaheadSelect($item, $model, $label, $event)"
                                                   typeahead-no-results="userProfile.invalidCountry"
                                                   typeahead-select-on-blur="true"
                                                   typeahead-editable="false"
                                                   typeahead-focus-first="true"
                                                   ng-disabled="!userProfile.inEditMode">
                                        </label>
                                        <div ng-messages="userProfile.profileForm.country.$error"
                                             class="text-error small" role="alert"
                                             ng-show="userProfile.profileFormInvalid">
                                            <div ng-message="required">Country required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="clearfix" ng-if="userProfile.inEditMode">
                            <p class="pull-right">
                                <span ng-if="userProfile.profileFormInvalid" class="small text-error">
                                    Invalid profile update
                                </span>
                                <button class="pull-right text-uppercase gb-button--flat" type="submit">Save profile
                                </button>
                            </p>
                        </div>
                    </form>
                </div>


                <div ng-if="userProfile.inEditMode">
                    <form class="gb-form m-t-3" name="userProfile.passwordForm"
                          ng-submit="userProfile.changePassword()">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span>New password</span>
                                            <input type="password" required name="newPassword" ng-minlength="6"
                                                   ng-maxlength="256" ng-model="userProfile.newPassword">
                                        </label>
                                        <div ng-messages="userProfile.passwordForm.newPassword.$error"
                                             class="text-error small" role="alert"
                                             ng-show="userProfile.passwordFormInvalid">
                                            <div ng-message="required">Password is required</div>
                                            <div ng-message="minlength">Password must be 6 characters or more</div>
                                            <div ng-message="maxlength">You password may not be above 256 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span>Repeat new password</span>
                                            <input type="password" required name="repeatedPassword"
                                                   ng-pattern="userProfile.repeatPattern(userProfile.newPassword)"
                                                   ng-model="userProfile.repeatedPassword">
                                        </label>
                                        <div class="text-error small" role="alert"
                                             ng-show="userProfile.repeatedPassword !== userProfile.newPassword">
                                            <div>Not identical - please confirm the password</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span>Current password</span>
                                            <input type="password" required name="oldPassword" required
                                                   ng-model="userProfile.oldPassword">
                                        </label>
                                        <div ng-messages="userProfile.passwordForm.newPassword.$error"
                                             class="text-error small" role="alert"
                                             ng-show="userProfile.passwordFormInvalid">
                                            <div ng-message="required">Password is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <button class="pull-right m-t-1 text-uppercase gb-button--flat" type="submit">Change
                                        password
                                    </button>
                                </div>

                            </div>
                        </fieldset>
                        <div>
                            <!--<p ng-if="vm.invalidLogin" class="small text-error">-->
                            <!--Unable to log in. Unknown user or password.-->
                            <!--</p>-->
                            <!--<p class="m-t-1">-->
                            <!--<button class="gb-button&#45;&#45;brand" type="submit">Change password</button>-->
                            <!--</p>-->
                            <!--&lt;!&ndash;<p class="small discreet">&ndash;&gt;-->
                            <!--By signing in you accept GBIFs <a href="http://www.gbif.org/terms/overview">terms</a> and <a href="http://www.gbif.org/terms/privacy-policy">privacy policy</a>.-->
                            <!--</p>-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="card__stripe card__stripe--light ng-cloak">
                <div class="card__content">
                    <p ng-if="userProfile.provider && userProfile.errorMessage" class="small text-error">
                        <span translate="profile.connect.failed.{{userProfile.provider}}"></span><br/>
                        <span translate="profile.error.{{userProfile.errorMessage}}"></span>
                    </p>

                    <a href="/auth/facebook/connect" class="gb-button--facebook"
                       ng-if="userProfile.profile.connectedAcounts && !userProfile.profile.connectedAcounts.facebook"><i></i><span
                            class="gb-button--facebook__label">Connect with Facebook</span></a>
                    <a href="/auth/facebook/disconnect" class="gb-button--facebook"
                       ng-if="userProfile.inEditMode && userProfile.profile.connectedAcounts.facebook"><i></i><span
                            class="gb-button--facebook__label">Disconnect Facebook</span></a>

                    <a href="/auth/github/connect" class="gb-button--github"
                       ng-if="userProfile.profile.connectedAcounts && !userProfile.profile.connectedAcounts.github"><i></i><span
                            class="gb-button--facebook__label">Connect with Github</span></a>
                    <a href="/auth/github/disconnect" class="gb-button--github"
                       ng-if="userProfile.inEditMode && userProfile.profile.connectedAcounts.github"><i></i><span
                            class="gb-button--facebook__label">Disconnect Github</span></a>
                </div>
            </div>
        </div>




        <!--<section>-->
        <!--<h5 class="card-header m-t-1">12 Datasets</h5>-->
        <!--<div class="card card&#45;&#45;spaced">-->
        <!--<div class="card__stripe card__content text-center" style="background-color:#596069;color:#aaafb5;">-->
        <!--<div class="clearfix inline-block">-->
        <!--<canvas id="doughnut" class="chart chart-doughnut pull-left"-->
        <!--chart-data="userProfile.data" chart-labels="userProfile.labels">-->
        <!--</canvas>-->
        <!--<div class="pull-left" style="padding-right: 100px">-->
        <!--<h2 style="color:#eee;">19 citations</h2>-->
        <!--<div>From 14 works</div>-->
        <!--<div>Authors from 10 Countries</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="card__stripe">-->
        <!--<div class="scrollable-y">-->
        <!--<div class="table-container p-0">-->
        <!--<table class="table search-table smaller">-->
        <!--<thead style="background:#fdfdfd">-->
        <!--<tr>-->
        <!--<th>Title</th>-->
        <!--<th>Records</th>-->
        <!--<th>Citations</th>-->
        <!--<th>Comments</th>-->
        <!--<th>Last crawled</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>-->
        <!--<span>My short dataset title</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;narrow">-->
        <!--<span>14.254</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;narrow">-->
        <!--<span>7</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;narrow">-->
        <!--<span>0</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;normal">-->
        <!--<span>October 17. 2017</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>-->
        <!--<span>My ver long and not very informative dataset title with huge scientific names in it Streptopelia decaocto (Frivaldszky, 1838), Columbiformes ...</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;narrow">-->
        <!--<span>1.244.254</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;narrow">-->
        <!--<span>12</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;narrow">-->
        <!--<span>1</span>-->
        <!--</td>-->
        <!--<td class="table-cell&#45;&#45;normal">-->
        <!--<span>April 5. 2015</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</section>-->


        <section>
            <!--<h5 class="card-header m-t-1">User summary</h5>-->
            <div class="xcard card--spaced">
                <div class="card__stripe">
                    <div class="card__content clearfix">
                        <div style="display:flex;justify-content: center;flex-direction:row;flex-wrap: wrap;">
                            <div class="inline-block text-center" style="margin:10px 40px; width:150px;flex:0 0 auto">
                                <div class="gb-icon-marker" style="font-size:50px;color:#61a861"></div>
                                <div>
                                    <div style="font-weight:500;">23.802 occurrences</div>
                                    <div class="discreet--very">
                                        In 3 datasets
                                    </div>
                                </div>
                            </div>
                            <div class="inline-block text-center" style="margin:10px 40px; width:150px;flex:0 0 auto">
                                <div class="gb-icon-dataset" style="font-size:50px;color:#61a861"></div>
                                <div>
                                    <div style="font-weight:500;">2 Datasets</div>
                                    <div class="discreet--very">
                                        Datasets that you helped create
                                    </div>
                                </div>
                            </div>
                            <div class="inline-block text-center" style="margin:10px 40px; width:150px;flex:0 0 auto">
                                <div class="gb-icon-publisher" style="font-size:50px;color:#61a861"></div>
                                <div>
                                    <div style="font-weight:500;">12 published datasets</div>
                                    <div class="discreet--very">
                                        With you as publisher
                                    </div>
                                </div>
                            </div>
                            <div class="inline-block text-center" style="margin:10px 40px; width:150px;flex:0 0 auto">
                                <div class="gb-icon-server" style="font-size:50px;color:#61a861"></div>
                                <div>
                                    <div style="font-weight:500;">19 hosted datasets</div>
                                    <div class="discreet--very">
                                        On 1 installation
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section>
            <h5 class="card-header m-t-1">Records by</h5>
            <div class="card card--spaced">
                <div class="card__stripe imageWithCaption" style="position:relative">
                    <img src="http://api.gbif.org/v1/image/unsafe/1200x600/http:%2F%2Fimages.contentful.com%2Fuo17ejk9rkwj%2F7fwdxYXRPUiQSOMKcQwqgK%2F14e139ef60f57df3f3591797d4deecfd%2FPinus-palustris-iNat-2355459-thehaplesshiker.jpg">
                    <div class="imageWithCaption__caption" style="position:absolute;bottom:0;right:0;"> <a href="/occurrence/1562972631"><i>Bispira turneri</i></a> by [users name] via iNaturalist. Photo licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.</div>
                </div>
                <div class="card__stripe">
                    <div class="card__content clearfix">
                        <div>
                            <div class="pull-left" style="font-size:30px;margin-right:20px">23.802</div>
                            <div class="pull-left">
                                <div>Occurrences</div>
                                <div>With your recorder names</div>
                            </div>
                        </div>
                        <!--<div class="pull-right" style="margin-top:8px" ng-init="userProfile.datasetSelected='HOSTED'">-->
                        <!--<a href="" class="gb-button&#45;&#45;brand" ng-click="userProfile.datasetSelected='CREATED'">2 created</a>-->
                        <!--<a href="" class="gb-button&#45;&#45;discreet" ng-click="userProfile.datasetSelected='PUBLISHED'">12 published</a>-->
                        <!--<a href="" class="gb-button&#45;&#45;discreet" ng-click="userProfile.datasetSelected='RECORDS'">13 with my records</a>-->
                        <!--<a href="" class="gb-button&#45;&#45;discreet" ng-click="userProfile.datasetSelected='HOSTED'">19 hosted</a>-->
                        <!--</div>-->
                    </div>
                    <div class="card__content">
                        <md-chips
                                ng-model="userProfile.recorderNames"
                                md-separator-keys="userProfile.keys"
                                placeholder="Enter your recorder names"
                                secondary-placeholder="Comma separated recorder names"></md-chips>
                    </div>
                </div>
            </div>
        </section>




        <section>
            <h5 class="card-header m-t-1">Datasets</h5>
            <div class="card card--spaced m-b-5">
                <div class="card__stripe">
                    <div class="card__content clearfix">
                        <div>
                            <div class="pull-left" style="font-size:30px;margin-right:20px">2</div>
                            <div class="pull-left">
                                <div>Datasets</div>
                                <div>With your email or ORCiD as a contact</div>
                            </div>
                        </div>
                        <div class="pull-right" style="margin-top:8px" ng-init="userProfile.datasetSelected='HOSTED'">
                            <a href="" class="gb-button--brand" ng-click="userProfile.datasetSelected='CREATED'">2 created</a>
                            <a href="" class="gb-button--discreet" ng-click="userProfile.datasetSelected='PUBLISHED'">12 published</a>
                            <a href="" class="gb-button--discreet" ng-click="userProfile.datasetSelected='HOSTED'">19 hosted</a>
                        </div>
                    </div>
                </div>
                <!--<div class="card__stripe&#45;&#45;light card__content text-center">-->
                <!--<div class="clearfix inline-block">-->
                <!--<canvas id="bar" class="chart chart-bar"-->
                <!--chart-data="userProfile.data2" chart-labels="userProfile.labels2" chart-series="userProfile.series2">-->
                <!--</canvas>-->
                <!--</div>-->
                <!--</div>-->
                <div class="card__stripe--light card__content text-center" style="height:190px"
                     ng-if="userProfile.datasetSelected=='CREATED'">
                    <div class="container-fluid">
                        <div class="row" style="color:#666;padding-top:20px;">
                            <div class="col-xs-12 col-md-6" style="position:relative;">
                                <!--<div class="gb-icon-file-download" style="position:absolute;height:100px;font-size:100px;color:#eee;text-align:center;z-index:1;width:100%"></div>-->
                                <div style="z-index:2;position:relative;">
                                    <h1 style="font-size:44px;color:#61a861;font-weight:bold">
                                        14.142
                                    </h1>
                                    <div>
                                        downloads in total
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h1 style="font-size:44px;color:#61a861;font-weight:bold">
                                    19 / 14
                                </h1>
                                <div>
                                    Known citations from 14 works <span
                                        style="background:#ff479c;color:white;padding:1px 5px; border-radius:2px;box-shadow:0 3px 8px 0 rgba(0,0,0,.16);">3 new</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__stripe--light card__content text-center"
                     ng-if="userProfile.datasetSelected=='PUBLISHED'">
                    <div style="height:150px;">
                        <canvas id="bar" class="chart chart-bar" chart-options="userProfile.options2"
                                chart-data="userProfile.data2" chart-labels="userProfile.labels2"
                                chart-series="userProfile.series2" Xchart-colors="userProfile.colors1"
                                chart-dataset-override="userProfile.datasetOverride">
                        </canvas>
                    </div>
                    <!--<div class="discreet text-center m-b-05">Published datasets per year</div>-->
                </div>
                <div class="card__stripe--light card__content"
                     ng-if="userProfile.datasetSelected=='HOSTED'">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div style="height:150px;">
                                    <canvas id="doughnut" class="chart chart-doughnut"
                                            chart-data="userProfile.data3" chart-labels="userProfile.labels3"
                                            chart-options="userProfile.options3" chart-colors="userProfile.colors0">
                                    </canvas>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 text-left">
                                <div class="legend">
                                    <div class="entry"><span class="swatch" style="background-color:rgb(58, 109, 122)"></span>1 Offline
                                    </div>
                                    <div class="entry"><span class="swatch" style="background-color:rgb(155, 188, 91)"></span>7 Online
                                        & stable
                                    </div>
                                    <div class="entry"><span class="swatch" style="background-color:rgb(155, 188, 91)"></span>2 Online
                                        but unstable
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__stripe">
                    <div class="scrollable-y">
                        <div class="table-container p-0">
                            <table class="table search-table smaller">
                                <thead style="background:#fdfdfd">
                                <tr>
                                    <th>Title</th>
                                    <th>Records</th>
                                    <th>Citations</th>
                                    <th>Comments</th>
                                    <th>Last crawled</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span>My short dataset title</span>
                                    </td>
                                    <td class="table-cell--narrow">
                                        <span>14.254</span>
                                    </td>
                                    <td class="table-cell--narrow">
                                        <span>7</span>
                                    </td>
                                    <td class="table-cell--narrow">
                                        <span>0</span>
                                    </td>
                                    <td class="table-cell--normal">
                                        <span>October 17. 2017</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="i in [1,2,3,4,5,6]">
                                    <td>
                                        <span>My very long and not very informative dataset title with huge scientific names in it Streptopelia decaocto (Frivaldszky, 1838), Columbiformes ...</span>
                                    </td>
                                    <td class="table-cell--narrow">
                                        <span>1.244.254</span>
                                    </td>
                                    <td class="table-cell--narrow">
                                        <span>12</span>
                                    </td>
                                    <td class="table-cell--narrow">
                                        <span>1</span>
                                    </td>
                                    <td class="table-cell--normal">
                                        <span>April 5. 2015</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>